* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.total-container {
  width: 80%;
  margin: auto;
}

.my-flex {
  display: flex;
}

ul {
  list-style: none;
  font-size: 12px;
}

ul li {
  margin: 5px;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  color: #2d86fa;
}

.bg-nav {
  background-color: #2d86fa;
}

.bg-nav .total-container .nav-up {
  color: white;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  height: 30px;
}

.bg-nav .total-container .nav-up div {
  margin-left: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  height: 80px;
  padding: 10px;
}

nav .logo img {
  width: 60px;
  height: 100%;
}

.nav-list ul li {
  margin: 5px;
  display: inline-block;
}

.nav-list ul li a:hover {
  color: #2d86fa;
}

.hero {
  background-image: url("/images/jumbotron.jpg");
  height: 300px;
  background-size: cover;
}

.hero .current {
  background-color: #2d86fa;
  color: white;
  width: 200px;
  padding: 10px;
  position: relative;
  top: 278px;
  left: 10%;
}

.hero {
  background-image: url("/images/jumbotron.jpg");
  height: 300px;
  background-size: cover;
}

.hero .current {
  background-color: #2d86fa;
  color: white;
  width: 200px;
  padding: 10px;
  position: relative;
  top: 278px;
  left: 10%;
}

.main-home {
  background-color: black;
}

.main-home .total-container .card-container {
  display: flex;
  flex-wrap: wrap;
}

.main-home .total-container .card-container .card {
  flex-basis: calc((100% / 6) - 20px);
  margin: 10px;
  margin-top: 40px;
}

.main-home .total-container .card-container .card a {
  text-decoration: none;
}

.main-home .total-container .card-container .card a img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-home .total-container .card-container .card a h4 {
  color: white;
}

.main-home .total-container .card-container .card a h4:hover {
  color: #2d86fa;
}

.main-footer {
  background-color: #2d86fa;
  height: 100px;
}

.main-footer .total-container .info {
  height: 100px;
  padding: 20px;
}

.main-footer .total-container .info h5 {
  color: white;
  align-self: center;
  margin-left: 10px;
}

.division {
  height: 60px;
  color: #2d86fa;
}

.division .copertina {
  height: 200px;
  width: 150px;
  position: relative;
  left: 10%;
  bottom: 150px;
}

.main-comics {
  background-color: brown;
}

footer {
  height: 480px;
  background-image: url("/images/footer-bg.jpg");
}

footer .total-container {
  display: flex;
}

footer .total-container .footer-space {
  width: 50%;
}

footer .total-container .footer-space .left-block {
  color: white;
}

footer .total-container .footer-space .left-block .footer-list {
  width: 32%;
  display: inline-block;
  vertical-align: text-top;
}

footer .total-container .footer-space .left-block .footer-list h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer .total-container .footer-space .left-block .footer-list ul li a {
  color: white;
}

footer .total-container .footer-space .left-block .footer-list ul li a:hover {
  color: #2d86fa;
}

footer .total-container .footer-space img {
  position: relative;
  top: -50px;
}

footer .total-container .right {
  font-size: 12px;
  margin-top: 40px;
}

footer .footer-down {
  height: 100px;
  background-color: #161515;
  position: relative;
  top: -85px;
}

footer .footer-down .total-container .signUpBtn {
  flex-grow: 1;
  position: relative;
  top: 35px;
}

footer .footer-down .total-container .signUpBtn a {
  color: white;
  border: 2px solid #2d86fa;
  padding: 10px;
  text-decoration: none;
}

footer .footer-down .total-container ul {
  display: flex;
  align-items: center;
}

footer .footer-down .total-container ul li {
  display: inline-block;
}

