.nav-up {
  background-color: #2d86fa;
  color: white;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

nav {
  height: 80px;
}

nav .logo {
  height: 80px;
}

nav .logo img {
  width: 100%;
}

nav ul {
  list-style: none;
}

nav ul li {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

