*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.total-container{
    width: 80%;
    margin: auto;
}

.my-flex{
    display: flex;
}

ul{
    list-style: none;
    font-size: 12px;
   
    li{
        margin: 5px;
        a{
            text-decoration: none;
            &:hover{
                color:$primary_color;
            }
        }
    }
}