
.hero{
  background-image: url('/images/jumbotron.jpg');
  height: 300px;
  background-size: cover;
  .current{
      background-color: $primary_color;
      color: white;
      width: 200px;
      padding: 10px;
      position: relative;
      top: 278px;
      left: 10%;
  } 
}

.main-home{
  background-color: black;

  .total-container{
    .card-container {
      display: flex;
      flex-wrap: wrap;

      .card {
        flex-basis: calc((100% / 6) - 20px);
        margin: 10px;
        margin-top: 40px;
        a{
          text-decoration: none;
          img{
            width: 150px;
            height: 150px;
            object-fit: cover;
          }
          h4{
            color: white;
            &:hover{
              color: $primary_color;
            }
          }
        }
      }
    }
  }
}

.main-footer{
  background-color: $primary_color;
  height: 100px;
  .total-container{
    .info{
      height: 100px;
      padding: 20px;
      h5{
        color: white;
        align-self: center;
        margin-left: 10px;
      }
    }
  }
}