footer{
    background-image: url('/images/footer-bg.jpg');
    .total-container{
        .footer-list{
            h4{
                color: white;
            }
            ul{
                li{
                    color: white;
                    a{
                        color: white;
                    }
                }
            }
        }
    }
}
