footer{
    height: 480px;
    background-image: url('/images/footer-bg.jpg');
    .total-container{
        display: flex;
        .footer-space{
            width: 50%;
            .left-block{
                color: white;
                .footer-list{
                    width: 32%;
                    display: inline-block;
                    vertical-align: text-top;
                    h4{
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    ul{
                        li{
                            a{
                                color: white;
                                &:hover{
                                    color: $primary_color;
                                }
                            }
                        }
                    }
                }
            }
            img{
                position: relative;
                top: -50px;
            }
        }
        .right{
            font-size: 12px;
            margin-top: 40px;
        }
    }
    
    .footer-down{
        height: 100px;
        background-color: rgb(22, 21, 21);
        position: relative;
        top: -85px;
        .total-container{
            .signUpBtn{
                flex-grow: 1;
                a {
                   color: white;
                   border: 2px solid $primary_color;
                   padding: 10px; 
                }
                
            }
        }
    }
}


