.bg-nav{
    background-color: $primary_color;
    .total-container{
        
        .nav-up{
            color: white;
            justify-content: flex-end;
            display: flex;
            align-items: center;
            height: 30px;
            div{
                margin-left: 20px;
                
            }
        }
    }
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        height: 80px;
        padding: 10px;
        img{
            width: 60px;
            height: 100%;
        }
    }
    
}

.nav-list{
    ul{
        li{
            margin: 5px;
            display: inline-block;
            a{
                &:hover{
                    color:$primary_color;
                }
            }
        }
    }
}

.hero{
    background-image: url('/images/jumbotron.jpg');
    height: 300px;
    background-size: cover;
    .current{
        background-color: $primary_color;
        color: white;
        width: 200px;
        padding: 10px;
        position: relative;
        top: 278px;
        left: 10%;
    } 
}
